{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Task.M_ToDo</title>
    <meta charset="utf-8">
    <!-- favicon -->
    <link rel="icon" type="image/png" href="../../static/img/icon.png">
    <!-- css -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/home7.css' %}">
</head>

<body>
    <!-- ヘッダー -->
    <header id="header">
        <div class="wrapper">
            <p>Task.M</p>
            <nav>
                <!-- アカウント名表示 -->
                <ul>
                    {{ user.username }}さん
                </ul>
            </nav>
        </div>
    </header>

    <!-- メインコンテンツまとめたもの -->
    <div id="main">
        <!-- 左メニュー -->
        <div id="menu">
            <ul>
                <li><a href="">ToDo</a></li>
                <li><a href="memo/">メモ</a></li>
            </ul>
            <button type="submit" class="exit" onclick="location.href='../'">退室</button>
        </div>
        <!-- 右側のコンテンツ -->
        <div id="contents">
            <!-- Todoリストの表示 -->
            <div id="app">
                <h1>ToDo</h1>

                <div>
                    <table class="wish_list">
                        <thead>
                            <!-- 概要 -->
                            <tr>
                                <th>タスク名</th>
                                <th>締切</th>
                                <th>詳細</th>
                                <th>ー</th>
                                <th>ー</th>
                                <th>追加日</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for todo_list in todo_lists %}
                            <tr>
                                <!-- タイトル表示 -->
                                <td>{{ todo_list.title }}</td>
                                <!-- 締切をMM/DDで表示-->
                                <td>{{ todo_list.created.month }}/{{ todo_list.created.day}}</td>
                                <!-- 詳細表示 -->
                                <td>{{ todo_list.detail }}</td>
                                <!-- update.htmlに飛ぶ -->
                                <td><a href="{% url 'update' todo_list.id %}">編集</a></td>
                                <!-- 状態を完了にし、画面から消す-->
                                <td><a href="{% url 'delete' todo_list.id %}">完了</a></td>
                                <!-- 投稿した時刻をMM/DDで表示 -->
                                <td>{{ todo_list.now_time.month }}/{{ todo_list.now_time.day }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <!-- ポップアップ表示 -->
                <div class="pop-box">
                    <label for="popup-on">
                        <!-- これを押したら開く -->
                        <div class="btn-open">
                            <p class="add">+ Todoの追加</p>
                        </div>
                    </label>
                    <!-- 開くために判断するもの（実際は見えない）-->
                    <input type="checkbox" id="popup-on">

                    <!--　ポップアップの内容 -->
                    <div class="popup">
                        <!-- 閉じるボタン -->
                        <label for="popup-on" class="icon-close">×</label>
                        <div class="popup-content">
                            <div>
                                <p>ToDo追加</p>
                                <!-- viewsのcreate -->
                                <form action="{% url 'create' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="add_content">
                                        <input type="text" name="title" placeholder="タイトル" class="detail" />
                                        <br>
                                        <textarea name="detail" placeholder="詳細" class="detail"></textarea>
                                        <br>
                                        <input type="date" name="created" placeholder="締切" class="detail" />
                                        <br>
                                        <input type="text" name="map" placeholder="場所" class="detail" />
                                    </div>
                                    <br>
                                    <input type="submit" value="登録" class="btn" />
                                </form>
                            </div>
                        </div><!-- /popup-content -->
                    </div><!-- /popup -->
                </div><!-- /pop-box -->
            </div><!-- /app -->
        </div> <!-- /contents -->
    </div><!-- /main -->

</body>

</html>